.App{
    width: 700px;
    margin: 16px auto;
}
.text{
    font-size: 20px;
}
.text p{
    text-align: justify;
}
#back_wrap{
    position: fixed;
    right: 20px;
    bottom: 20px;
    padding: 16px 20px;
    border-radius: 16px;
    background-color: darkslategrey;
    cursor: pointer;
    opacity: 0;
    transition: all 0.5s ease-out;
}
#back_wrap.active{
    opacity: 1;
}
#back_icon{
    font-size: 32px;
    color: white;
}
#input_wrap textarea{
    display: block;
}